<div class="container">

    <!-- Start Burger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- End Burger button -->

    <!-- Start Brand -->
    <a class="navbar-brand" href="{{ url('homepage') }}">SnowTricks</a>
    <!-- End Brand -->

    <!-- Start Navbar Mobile -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item {% if app.request.get('_route') == 'homepage' %}active{% endif %}">
                <a class="nav-link" href="{{ url('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link js-logout" href="#">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item {% if app.request.get('_route') == 'app_login' %}active{% endif %}">
                    <a class="nav-link" href="{{ url('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'app_register' %}active{% endif %}">
                    <a class="nav-link" href="{{ url('app_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- End Navbar Mobile -->

</div>

<div class="logout-modal">
    <p>Voulez-vous vraiment vous déconnecter ?</p>
    <div class="d-flex justify-content-end">
        <div class="btn btn-danger js-cancel mr-1">Annuler</div>
        <a class="btn btn-success" href="{{ url('app_logout') }}" >Confirmer</a>
    </div>
</div>