{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block flashMessages %}{% endblock %}

{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ asset('build/images/user_icon.svg') }}" id="icon" alt="User Icon" />
            </div>

            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {% if ( label == 'success' ) %}
                        <div class="alert alert-success alert-dismissible fade show page-alert mx-3" role="alert">
                            {{ flash }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if ( label == 'error' ) %}
                        <div class="alert alert-danger alert-dismissible fade show page-alert mx-3" role="alert">
                            {{ flash }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <!-- FP Form -->
            {{ form_start(form) }}
            {{ form_row(form.email, { 'attr' : {'class' : 'fadeIn second form-input'} }) }}
            {{ form_row(form.plainPassword.first, { 'attr' : {'class' : 'fadeIn third form-input'} }) }}
            {{ form_row(form.plainPassword.second, { 'attr' : {'class' : 'fadeIn fourth form-input'} }) }}
            <input type="submit" class="fadeIn fifth form-submit" value="Changer le mot de passe">
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}
