{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ asset('build/images/user_icon.svg') }}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            {{ form_start(registrationForm) }}

            {% if registrationForm.vars.errors|length %}
                <div class="registration-errors">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            {{ form_row(registrationForm.username, { 'attr' : {'class' : 'fadeIn second form-input'} }) }}
            {{ form_row(registrationForm.picture, { 'attr' : {'class' : 'fadeIn second form-input'} }) }}
            {{ form_row(registrationForm.email, { 'attr' : {'class' : 'fadeIn third form-input'} }) }}
            {{ form_row(registrationForm.plainPassword.first, { 'attr' : {'class' : 'fadeIn fourth form-input'} }) }}
            {{ form_row(registrationForm.plainPassword.second, { 'attr' : {'class' : 'fadeIn fourth form-input'} }) }}
            <input type="submit" class="fadeIn fifth form-submit" value="Inscription">
            {{ form_end(registrationForm) }}

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{{ path('app_login') }}">J'ai déjà un compte</a>
            </div>

        </div>
    </div>
{% endblock %}
