{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block header %}{% include 'homepage/_partials/header.html.twig' %}{% endblock %}

{% block body %}
    <!-- Content -->
    <div class="row">
        <div class="card-deck" data-number-of-results="{{ number_of_results }}">

            {% include 'homepage/_partials/ajax-content.html.twig' %}

            <div class="loader-container col-sm-12 d-flex justify-content-center" id="loader">
                <button class="btn btn-outline-primary loader-btn">
                    Voir plus <i class="fas fa-arrow-down"></i>
                </button>
                <img src="{{ asset('build/images/loader-blue.gif') }}" alt="loader" class="loader-gif" height="50px">
            </div>

        </div>
    </div>

{% endblock %}

{% block backToTop %}
    <a href="#0" class="cd-top js-cd-top">Top</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}