{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block header %}{% include 'homepage/_partials/header.html.twig' %}{% endblock %}

{% block body %}
    <!-- Content -->
    <div class="row">
        <div class="card-deck">

            {% for trick in tricks %}
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="http://placehold.it/328x219" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.title }}</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                {% if trick.updatedAt != null %}
                                    Modifié le {{ trick.updatedAt|date('d/m/Y') }}
                                {% else %}
                                    Créé le {{ trick.createdAt|date('d/m/Y') }}
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="loader-container col-sm-12 d-flex justify-content-center" id="loader">
                <button class="btn btn-outline-primary loader-btn">
                    Voir plus <i class="fas fa-arrow-down"></i>
                </button>
                <img src="{{ asset('build/images/loader-blue.gif') }}" alt="loader" class="loader-gif" height="50px">
            </div>

        </div>
    </div>

{% endblock %}

{% block backToTop %}
    <a href="#0" class="cd-top js-cd-top">Top</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}