<!-- On mobile devices, this button display the trick images -->
<button class="btn display-medias" data-action="show-medias">Afficher les photos & videos</button>

<section class="row gallery">

    {% for image in trick.images %}
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <img class="trick-image img-thumbnail" src="{{ asset('uploads/images/' ~ image.fileName) }}" alt="{{ image.alt }}">
        </div>
    {% endfor %}

    {% for video in trick.videos %}
        <div class="col-sm-6 col-lg-4 col-xs-12">
            <!-- Youtube -->
            {% if video.type == 'youtube' %}
            <iframe src="{{'https://www.youtube.com/embed/' ~ video.embed_id }}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    class="trick-video img-thumbnail"
                    allowfullscreen>
            </iframe>
            <!-- Dailymotion -->
            {% elseif video.type == 'dailymotion' %}
                <iframe src="{{ 'https://www.dailymotion.com/embed/video/' ~ video.embed_id }}" frameborder="0"
                        class="trick-video img-thumbnail"
                        allowfullscreen allow="autoplay">
                </iframe>
            <!-- Vimeo -->
            {% elseif video.type == 'vimeo' %}
                <iframe src="{{ 'https://player.vimeo.com/video/' ~ video.embed_id }}" frameborder="0"
                        class="trick-video img-thumbnail"
                        allowfullscreen>
                </iframe>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Image Modal -->
    <div id="image-modal" class="modal">

        <!-- The Close Button -->
        <span class="close-modal">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content-image" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
</section>