{% for trick in tricks %}
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="card">
            <img class="card-img-top"
                 src="{% if trick.images is empty %}http://placehold.it/328x219{% else %}{{ asset('uploads/images/' ~ trick.images.0.fileName) }}{% endif %}"
                 alt="{% if trick.images is empty %}Card image cap{% else %}{{ trick.images.0.alt }}{% endif %}"
            >
            <div class="card-body">
                <h5 class="card-title">{{ trick.title }}</h5>
                {% if is_granted('ROLE_USER') %}
                <div class="card-actions">
                    <a href="{{ path('app_edit_trick', {'slug': trick.slug}) }}" title="Éditer"><i class="fas fa-edit edit-icon"></i></a>
                    <form class="delete-trick-form" action="{{ path('app_delete_trick', {'slug': trick.slug}) }}" method="post">
                        <button class="trash-button" type="submit" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette figure ?');">
                            <i class="fas fa-trash-alt trash-icon"></i>
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    {% if trick.updatedAt != null %}
                        Modifié le {{ trick.updatedAt|date('d/m/Y') }}
                    {% else %}
                        Créé le {{ trick.createdAt|date('d/m/Y') }}
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
{% endfor %}