{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create_trick') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-left">
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.category) }}
    </div>
    <div class="form-right">
        <label>Vidéo(s)</label>
        <ul class="videos" data-prototype="{{ form_row(form.videos.vars.prototype)|e('html_attr') }}"></ul>
        <label>Image(s)</label>
        <ul class="images" data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}"></ul>
    </div>
    <input type="submit" class="form-submit" value="Enregistrer">
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create_trick') }}
{% endblock %}