{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks - {% if app.request.get('_route') is same as('app_edit_trick') %}Éditer{% elseif app.request.get('_route') is same as('app_create_trick') %}Créer{% endif %} une figure
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tricks_form') }}
{% endblock %}

{% block flashMessages %}{% endblock %}

{% block body %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {% if ( label == 'success' ) %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ flash }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elseif ( label == 'error' ) %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ flash }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% if app.request.get('_route') is same as('app_edit_trick') %}
        <h1 class="trick-form-title">Modification de la figure {{ trick.title }}</h1>
    {% elseif app.request.get('_route') is same as('app_create_trick') %}
        <h1 class="trick-form-title">Création de figure</h1>
    {% endif %}


    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="form-submit btn btn-success" value="Enregistrer">
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tricks_form') }}
{% endblock %}